*{
    padding:0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 100;

}

.mainContainer{
    width: 100%;
    height: 750px;
    background-color: bisque;
    text-align: center;
    padding-top: 25px;
}

.mainContainer h1{
    color: rgb(121, 120, 118);
}

.mainContainer p{
    font-size: 20px;
    margin-top: 100px;
    color: rgb(121, 120, 118);
}

.rectangulo{
    margin-top: 100px;
    width: 200px;
    height: 50px;
    background-color: rgb(0, 79, 250);
    border: 2px dashed black;
}

.rectangulo:hover{
    transition: 300ms;
    cursor:pointer;
    border-radius: 50%;
    border: 5px double black;
    background: rgb(158,251,63);
    background: radial-gradient(circle, rgba(158,251,63,1) 0%, rgba(252,70,98,1) 100%);
    width: 200px;
    height: 200px;
}

.redesSociales{
    width: 30%;
    height: 50px;
    margin-top: 80px;
}

.redesSociales ul{
    display: flex;
    list-style: none;
}

.redesSociales img{
    width: 24px;
    height: 24px;
}

.redesSociales li:hover{
    cursor: pointer;
}

@media(max-width:418px){
    .mainContainer {
        height: auto;
    }
}